<!-- Nana  Asiedu-Ansah
     CSI 370
      Spring 2019 CUE

     Used book application were students can trade
     and buy textbooks. This is the official layout
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title> <!-- Title of the page -->
    <!-- rendering page partials pulling the layout and stylesheets -->
    <%= render 'layouts/rails_header' %>

  </head>
  <body>
    <%= render'layouts/header' %>

     <section>
      <div class= "container">
        <%= yield :header %>

        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

            <%= yield %>
             
        </div>

    <%= render 'layouts/footer' %>
   </section>
  </body>
</html>
